.container {
  width: 100%;
  padding-top: 12.8rem;
  overflow-x: clip;
}

.tapeContainer {
  background-image: linear-gradient(45deg, var(--color-emerald-500), #38bdf8);
  rotate: -3deg;
  width: 100%;
}

.tapeContent {
  display: flex;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.tapeList {
  display: flex;
  flex: none;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
  padding: 1.2rem 1.6rem;
  animation: move-left 30s linear infinite;
}

.tapeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.tapeItemContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-gray-900);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.tapeItemContainer img {
  color: var(--color-gray-900);
  width: 2.4rem;
  height: 2.4rem;
  rotate: -12deg;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
